* {
    max-width: 100%;
    margin: auto;
}

div {
    border-radius: 10px;
}

#header {
    height: 40px;
    width: 100%;
    background-color: brown;
    position: fixed;
    z-index: 1;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: brown;
    position: relative;
    clear: both;
}

.left-side {
    height: 1010px;
    width: 60px;
    background-color: rgb(223, 96, 12);
    float: left;
    position: fixed;
}

.right-side {
    height: 1010px;
    width: 60px;
    background-color: rgb(223, 96, 12);
    float: right;
    position: inherit;
}

.content {
    display: inline-block;
    margin-top: 6px;
    margin-left: 60px;
    width: 75;
    height: 1000px;
}

.heading {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.copyright {
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
}